<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>web.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>web.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Repair</servlet-name>
    <servlet-class>web.Repair</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Repair</servlet-name>
    <url-pattern>/repair</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaintenanceProgressInquiry</display-name>
    <servlet-name>MaintenanceProgressInquiry</servlet-name>
    <servlet-class>web.MaintenanceProgressInquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintenanceProgressInquiry</servlet-name>
    <url-pattern>/mpi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OnlinePayment</display-name>
    <servlet-name>OnlinePayment</servlet-name>
    <servlet-class>web.OnlinePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlinePayment</servlet-name>
    <url-pattern>/onlinePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BalanceInquiry</display-name>
    <servlet-name>BalanceInquiry</servlet-name>
    <servlet-class>web.BalanceInquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceInquiry</servlet-name>
    <url-pattern>/balanceInquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>web.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecretProtection</display-name>
    <servlet-name>SecretProtection</servlet-name>
    <servlet-class>web.SecretProtection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretProtection</servlet-name>
    <url-pattern>/secretProtection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPassword</display-name>
    <servlet-name>NewPassword</servlet-name>
    <servlet-class>web.NewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPassword</servlet-name>
    <url-pattern>/newPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>serviceman.ServicemanLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servicemanLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>serviceman.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultQuery</display-name>
    <servlet-name>FaultQuery</servlet-name>
    <servlet-class>serviceman.FaultQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultQuery</servlet-name>
    <url-pattern>/faultQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Receipt</display-name>
    <servlet-name>Receipt</servlet-name>
    <servlet-class>serviceman.Receipt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Receipt</servlet-name>
    <url-pattern>/receipt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Troubleshooting</display-name>
    <servlet-name>Troubleshooting</servlet-name>
    <servlet-class>serviceman.Troubleshooting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Troubleshooting</servlet-name>
    <url-pattern>/troubleshooting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaintenanceCompleted</display-name>
    <servlet-name>MaintenanceCompleted</servlet-name>
    <servlet-class>serviceman.MaintenanceCompleted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintenanceCompleted</servlet-name>
    <url-pattern>/maintenanceCompleted</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUser</display-name>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>adm.ListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/listUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>adm.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentEnquiry</display-name>
    <servlet-name>PaymentEnquiry</servlet-name>
    <servlet-class>adm.PaymentEnquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentEnquiry</servlet-name>
    <url-pattern>/paymentEnquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuzzyQuery</display-name>
    <servlet-name>FuzzyQuery</servlet-name>
    <servlet-class>adm.FuzzyQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuzzyQuery</servlet-name>
    <url-pattern>/fuzzyQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserData</display-name>
    <servlet-name>UserData</servlet-name>
    <servlet-class>adm.UserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData</servlet-name>
    <url-pattern>/userData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserData</display-name>
    <servlet-name>UpdateUserData</servlet-name>
    <servlet-class>adm.UpdateUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserData</servlet-name>
    <url-pattern>/updateUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmLogin</display-name>
    <servlet-name>AdmLogin</servlet-name>
    <servlet-class>adm.AdmLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmLogin</servlet-name>
    <url-pattern>/admLogin</url-pattern>
  </servlet-mapping>
</web-app>